@model TravelReviewSite.Models.Review

@{
    ViewBag.Title = "Details";
}



<!--This styles the Details page with CSS-->

<title>Using Internal CSS</title>

<style type="text/css">

body{
    background-color:white;
    color:black;
    }

</style>






<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Post)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
    
</p>


<div class="container">
    <!--get this from website "Compnents" "Thumbnail"-->
    <div class="row">
        <div class="fourth">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">

                <img src="~/Images/europebackpacking4-1024x682.jpg" />
                

                </div>
            </div>
        

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
             

                <img src="~/Images/llubljana-slovenia.jpg" />
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">

      

                <img src="~/Images/greek-3_3192445a-large.jpg" />
            </div>
        </div>
    </div>
    </div>
    </div>


